
<div class="row pb-4 pb-md-0">
    <div class="col-lg-6 col-12 mt-3">
        <h3 class="font-weight-bold mb-5 main_screen_heading">Welcome! First, tell us what<br> kind of insurance you would like a<br> quote for!</h3>
       

        <div class="insurance_types_main_div px-2">
            
            <div class="insurance_types_sub_div animated slideInLeft_custom " (click)="submitInsuaranceType('Home')">
                <span class="font-weight-bold font-large">Home</span>
                <img src="../../../assets/images/new_design/home.svg" width="35">
            </div>
            <div class="insurance_types_sub_div animated slideInLeft_custom1" (click)="submitInsuaranceType('Auto')">
                <span class="font-weight-bold font-large">Auto</span>
                <img src="../../../assets/images/new_design/car.svg" width="45">
            </div>
            <div class="insurance_types_sub_div animated slideInLeft_custom2" (click)="submitInsuaranceType('Bundle')" >
                <div class="d-flex flex-column">
                    <span class="font-weight-bold font-large">Bundle</span>
                    <span class="font-weight-bold" style="font-size: 10px;">Save upto 35% by Bundling</span>
                </div>
                <img src="../../../assets/images/new_design/C+H.svg" width="120">
            </div>

        </div>


    </div>
    <div class="col-lg-1 col-12"></div>
    <div class="col-lg-5 col-12">
        <div class="side_img_div animated zoomOut_custom"></div>
    </div>
</div>


