<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>apply.insure</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body bgcolor="#ffffff" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
        <!-- <div style="width: 600px; max-width: 600px ;max-width: 600px; margin: 0 auto;" > -->
        <table bgcolor="#ffffff" width="100%" style="min-width: 320px;" cellspacing="0" cellpadding="0">
                  <tr>
                     <td class="pt-10 plr-0">
                        <table class="flexible" width="600" align="center" style="margin: 0 auto;    margin-top: 12px;" cellpadding="0" cellspacing="0">
                           <!-- content -->
                           <tr class="table-saprate"></tr>
                           <tr>
                              <td>
                                 <!-- block-04 -->
                                 <table mc:repeatable="container" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td mc:edit="block_23" class="img-flex"></td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="center" style=" color: #000;font-family: system-ui; font: 40px/28px Verdana, Geneva, sans-serif; color: #000;font-weight: 500;">
                                          <!-- <img src="new-agent-eemail.png" style="vertical-align: middle; width: 80px !important; height: 80px !important;" alt="Ultimaker" /> -->
                                           Cover Your Mortgage
                                       </td>
                                    </tr>
                                    <tr class="table-saprate"></tr>

                                 </table>
                              </td>
                           </tr>
                           </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="pt-10 plr-0">
                        <table class="flexible" width="600" align="center" style="margin: 0 auto;" cellpadding="0" cellspacing="0">
                           <!-- content -->
                           <tr class="table-saprate"></tr>
                           <tr>
                              <td>
                                 <!-- block-04 -->
                                 <table mc:repeatable="container" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 25px;margin-bottom: 12.5px;">
                                    <tr>
                                       <td mc:edit="block_23" class="img-flex"></td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="center" style=" color: #000;font-family: system-ui; font: 20px/28px Verdana, Geneva, sans-serif; color: #000;">
                                          Use life insurance to protect your household if someting heppens to the income earners paying for your mortgage.
                                       </td>
                                    </tr>
                                    <tr class="table-saprate"></tr>

                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="pt-10 plr-0">
                        <table class="flexible" width="600" align="center" style="margin: 0 auto;" cellpadding="0" cellspacing="0">
                           <!-- content -->
                           <br>
                           <tr>
                              <td>
                                 <table mc:repeatable="container" width="450px" cellpadding="0" cellspacing="0" style="margin-top: 20px;margin: 0 auto;margin-left: 22%;">
                                    <tr>
                                       <td mc:edit="block_23" class="img-flex"></td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                         <b>product</b>
                                       </td>
                                       <td  mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                           20 Year term life
                                        </td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                         <b>Death Benefit</b>
                                       </td>
                                       <td  mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                           500,000
                                        </td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                         <b>company</b>
                                       </td>
                                       <td  mc:edit="block_24" class="" align="left" style=" color: #000;font-family: system-ui; font: 20px/35px Verdana, Geneva, sans-serif; color: #000;">
                                           <img src="https://apply.insure/assets/images/ethos.png" width="100px">
                                        </td>
                                    </tr>

                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                     <br>
                  <tr>
                     <td class="pt-10 plr-0">
                        <table class="flexible" width="600" align="center" style="margin: 0 auto;" cellpadding="0" cellspacing="0">
                           <!-- content -->
                           <tr class="table-saprate"></tr>
                           <tr>
                              <td>
                                 <!-- block-04 -->
                                 <table mc:repeatable="container" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td mc:edit="block_23" class="img-flex"></td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="center" style=" color: #4d4d4d;font-family: system-ui; font: 24px/28px Verdana, Geneva, sans-serif; color: #000;">
                                        <a href="javascript:void(0);"> <button style="background-color: #6d6d6d;border: none;color: white;padding: 14px 32px;text-align: center;width: 100%;border-radius: 8px;text-decoration: none;display: inline-block;font-size: 33px;margin: 30px 2px 0px 2px;cursor: pointer;"><b>${{ cost }}</b> /month</button></a>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="pt-10 plr-0">
                        <table class="flexible" width="600" align="center" style="margin: 0 auto;margin-top: 15px;margin-bottom: 15px;" cellpadding="0" cellspacing="0">
                           <!-- content -->
                           <tr class="table-saprate"></tr>
                           <tr>
                              <td>
                                 <!-- block-04 -->
                                 <table mc:repeatable="container" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td mc:edit="block_23" class="img-flex"></td>
                                    </tr>
                                    <tr>
                                       <td mc:edit="block_24" class="" align="left" style=" color: #4d4d4d;font-family: system-ui; font: 18px/28px Verdana, Geneva, sans-serif; color: #000;">
                                         <a href="{{ link }}" target="_blank" style="color: #0020f5;text-decoration: none;">Click Here</a> to continue your quote.
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           </table>
                     </td>
                  </tr>
        </table>

        <!-- </div> -->
     </body>

</html>
